@using Agenda.Dados
@model Curso
@{
    ViewBag.Title = "Cadastrar novo curso";
}
@using(Html.BeginForm()) {
<fieldset>
    <div>
        <div>@Html.LabelFor(m => m.Nome):</div>
        <div>
            @Html.TextBoxFor(m => m.Nome)
            @Html.ValidationMessageFor(m => m.Nome)
        </div>
    </div>
    <div>
        <div>@Html.LabelFor(m => m.Descricao):</div>
        <div>
            @Html.TextBoxFor(m => m.Descricao)
            @Html.ValidationMessageFor(m => m.Descricao)
        </div>
    </div>
    <div>
        <div>@Html.LabelFor(m => m.CargaHorariaHoras):</div>
        <div>
            @Html.TextBoxFor(m => m.CargaHorariaHoras)
            @Html.ValidationMessageFor(m => m.CargaHorariaHoras)
        </div>
    </div>
    <button type="submit">Gravar</button>
</fieldset>
@Html.ActionLink("Voltar", "Index")
}
