@using Agenda.Dados
@model Aluno
@{
    ViewBag.Title = "Cadastrar novo aluno";
}
@using(Html.BeginForm()) {
    <fieldset>
        <div>
            <div>Nome:</div>
            <div>
                @Html.TextBoxFor(m => m.Nome)
                @Html.ValidationMessageFor(m => m.Nome)
            </div>
        </div>
        <div>
            <div>E-Mail:</div>
            <div>
                @Html.TextBoxFor(m => m.EMail, new {type = "email"})
                @Html.ValidationMessageFor(m => m.EMail)
            </div>
        </div>

        @{/* TODO: Passo 4 */}
        @* @Html.EditorFor(m => m.EnderecoPrincipal, new {TituloEndereco = "Endereço Principal"}) *@

        @{/* TODO: Passo 5 */}
        @*        
        @for (int i = 0, l = (Model != null && Model.EnderecosAdicionais != null ? Model.EnderecosAdicionais.Count : 0); i < l; i++)
        {
            @Html.EditorFor(m => m.EnderecosAdicionais[i], new { TituloEndereco = "Endereço Adicional " + (i+1) })
        }
        *@
        <button type="submit">Gravar</button>
    </fieldset>
    @Html.ActionLink("Voltar", "Index")
}
