@using Agenda.Dados
@model IEnumerable<Curso>
@{
    ViewBag.Title = "Lista de Cursos";
}
<table>
    <thead>
    <tr>
        <th>Nome</th>
        <th>Descrição</th>
        <th>Carga Horária</th>
        <th>Ações</th>
    </tr>
    </thead>
    <tbody>
    @if (!Model.Any())
    {
        <tr>
            <td colspan="3">Nenhum curso cadastrado</td>
        </tr>
    }
    @foreach (Curso curso in Model)
    {
        <tr>
            <td>@curso.Nome</td>
            <td>@curso.Descricao</td>
            <td>@curso.CargaHorariaHoras</td>
            <td>@Html.ActionLink("Editar", "Editar", new {curso.Id}) | <a href="javascript:excluir('@curso.Nome', '@curso.Id')">Excluir</a></td>
        </tr>
    }
    </tbody>
    <tfoot>
    <tr>
        <td colspan="3">@Html.ActionLink("Cadastrar novo curso", "Cadastrar")</td>
    </tr>
    </tfoot>
</table>

@using (Html.BeginForm("Excluir", null, null, FormMethod.Post, new {id = "formExcluir"}))
{
    @Html.Hidden("id", null, new{id="cursoId"})
}

<script language="javascript">
    function excluir(nome, id) {
        if (confirm("Você tem certeza que deseja excluir o curso '" + nome + "'? Esta ação não poderá ser desfeita!")) {
            var cursoId = document.getElementById("cursoId");
            var formExcluir = document.getElementById("formExcluir");
            cursoId.value = id;
            formExcluir.submit();
        }
    }
</script>